/* General styles for all screen sizes */
body {
  background: #639bb6;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  text-shadow: 0px 0px 1px whitesmoke;
  text-align: center; /* Center the text on all screen sizes */
}

.parkingLocation,
.parkingDuration {
  text-align: center;
  margin-top: 2%; /* Center the text on all screen sizes */
}
#parkingLocation {
  width: 100%; /* Make the input field width 100% of its container */
  max-width: 200px; /* Limit the maximum width */
  margin: 2% 0% 0% 22%; /* Center the input field */
}
#parkingDuration {
  width: 100%; /* Make the input field width 100% of its container */
  max-width: 200px; /* Limit the maximum width */
  margin: 2% 0% 0% 22%; /* Center the input field */
}

button {
  width: 100%; /* Make the button width 100% of its container */
  max-width: 200px; /* Limit the maximum width */
  margin: 4% auto 3% 22%;
  padding: 10px;
  /* Center the button and adjust margins */
  border: 2px solid black;
  box-shadow: 2px 3px;
}

#finalPrice {
  display: block;
  text-align: center; /* Center the text on all screen sizes */
  margin: 6% auto 0; /* Center the text and adjust margins */
  font-size: 20px;
  font-family: "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  border: 2px dotted white;
  width: 60%; /* Adjust the width for smaller screens */
  padding: 6px;
  color: white;
}

.pay {
  width: 100%; /* Make the buttons width 100% of their container */
  max-width: 200px; /* Limit the maximum width */
  margin: 2% auto; /* Center the buttons and adjust margins */
  margin-left: 20%;
  background-color: limegreen;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
}
.close {
  width: 100%; /* Make the buttons width 100% of their container */
  max-width: 200px; /* Limit the maximum width */
  margin: 2% auto;
  margin-left: 20%;
  background-color: rgb(197, 50, 50);
  color: white;
  border: 1px solid white;
  border-radius: 3px; /* Center the buttons and adjust margins */
}

.img {
  display: block;
  width: 100%; /* Make the image width 100% of its container */
  max-width: 500px; /* Limit the maximum width */
  height: auto; /* Maintain aspect ratio */
}

/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
  h1 {
    font-size: 24px; /* Decrease the font size for smaller screens */
  }
}
